#root {
    margin: 0 auto;
    text-align: center;
}

.defaultLayout {
    max-width: 1280px;
    padding: 2rem;
    margin: 0 auto;
}

.authLayout {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("/src/assets/MakanMatchIdentity.jpg");
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    width: 100%;
    box-sizing: border-box;
    padding: 2em;
}